<br>
<br>
<ul *ngFor="let person of people">
    <li [ngStyle]="{'color': getColor(person.country)}">
        {{person.name}} ({{person.country}})
    </li>
</ul>
<br>
<br>
<ul *ngFor="let person of people">
    <!-- note .px as a unit -->
    <li [style.color]="getColor(person.country)" [style.font-size.px]="24">
        {{person.name}} ({{person.country}})
    </li>
</ul>

<br><br>
<ul *ngFor="let person of people" [ngSwitch]="person.country">
    <li *ngSwitchCase="'EGYPT'" class="text-success">
        {{person.name}} ({{person.country}})
    </li>
    <li *ngSwitchCase="'USA'" class="text-primary">
        {{person.name}} ({{person.country}})
    </li>
    <li *ngSwitchCase="'UK'" class="text-info">
        {{person.name}} ({{person.country}})
    </li>
    <li *ngSwitchCase="'GERMANY'" class="text-danger">
        {{person.name}} ({{person.country}})
    </li>
    <li *ngSwitchDefault class="text-warning">
        {{person.name}} ({{person.country}})
    </li>
</ul>