<br>
<br>
<ul>
    <li *ngFor="let person of people" [ngClass]="{'text-success': true}">
        {{person.name}} ({{person.country}})
    </li>
</ul>
<br>
<br>
<ul>
    <li *ngFor="let person of people" [ngClass]="{
        'text-success': person.country === 'EGYPT',
        'text-info': person.country === 'USA',
        'text-primary': person.country === 'UK',
        'text-danger': person.country === 'GERMANY'
    }">
        {{person.name}} ({{person.country}})
    </li>
</ul>
<br>
<br>
<ul>
    <li *ngFor="let person of people" 
    [class.text-success]="person.country === 'EGYPT'" 
    [class.text-info]="person.country === 'USA'"
    [class.text-primary]="person.country === 'UK'" 
    [class.text-danger]="person.country === 'GERMANY'" >
        {{person.name}} ({{person.country}})
    </li>
</ul>